.banner {
    position: relative;
    width: 100%;
    height: auto;
}
.banner video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner .banner-title {
    color: white;
    z-index: 1;
    font-weight: bold;
    position: absolute;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* transform: translate(300px, 0); */
    height: 100%;
}

.banner-title h1 {
    font-size: 60px;
}

.font-72 {
    font-size: 72px;
}

.color-orange {
    color: #ff8736;
}

.bannercontainer1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 1650px){
    .banner-title h1 {
        font-size: 50px;
    }
    
    .font-72 {
        font-size: 60px;
    }
}
@media screen and (max-width: 1400px){
    .banner-title h1 {
        font-size: 68px;
    }
    
    .font-72 {
        font-size: 76px;
    }
}
@media screen and (max-width: 800px){
    .banner-title h1 {
        font-size: 42px;
    }
    
    .font-72 {
        font-size: 54px;
    }
}